.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fcfa;
  padding: 1rem 2rem;
  color: rgb(118, 161, 108);
  flex-wrap: wrap;
  border-bottom: solid 2px rgb(160, 224, 176);
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-logo {
  font-weight: bold;
  color: rgb(80, 74, 50);
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-link {
  color: rgb(31, 95, 14);
  text-decoration: none;
  font-size: 1rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-user {
  margin-right: 1rem;
}

.logout-btn {
  padding: 0.4rem 0.8rem;
  background-color: #1b1a19;
  border: none;
  border-radius: 4px;
  color: rgb(220, 243, 177);
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #eecb9c;
}
